[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-mail = "*"
pyjwt = "*"
flask-bootstrap = "*"
requests = "*"
flask-vue = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"pytest-pep8" = "*"
"pytest-flake8" = "*"

[requires]
python_version = "3.6"
