{% extends "bootstrap/base.html" %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}

{#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
The sample application already contains the required static files. #}
{{fixes.ie8()}}
{%- endblock %}

{% block navbar %}
{{ navbar|safe }}
{% endblock %}

{% block content %}
<div class="container theme-showcase">
  <div class="jumbotron">
    <h1>Badge Progress:</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <td>Youth</td>
            <td>Group</td>
            <td>Badge</td>
            <td>State</td>
          </tr>
        </thead>
        {% for p in progress %}
        <tr>
          <td>
            <a href="{{ url_for('youth_details', youth_id=p.youth.id) }}">{{ p.youth.name }}</a>
          </td>
          <td>
            <a href="{{ url_for('group', group_id=p.youth.group.id) }}">{{ p.youth.group.name }}</a>
          </td>
          <td>
            <a href="{{ url_for('badge', badge_id=p.badge.id) }}">{{ p.badge.description }} - {{ p.badge.level }}</a>
          </td>
          <td>
            {{ p.badge_state.value }}</a>
          </td>
      </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
