{% extends "bootstrap/base.html" %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}

{#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
The sample application already contains the required static files. #}
{{fixes.ie8()}}
{%- endblock %}

{% block navbar %}
{{ navbar|safe }}
{% endblock %}

{% block content %}
<div class="container theme-showcase">
	<div class="jumbotron">
		<h1>Groups:</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-hover table-condensed">
				{% for group in groups %}
				<tr>
					<td>
						<a href="{{ url_for('group', group_id=group.id) }}">{{group.name}}</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
