{% extends "bootstrap/base.html" %}

{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
{{super()}}

{#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
The sample application already contains the required static files. #}
{{fixes.ie8()}}
{%- endblock %}

{% block navbar %}
{{ navbar|safe }}
{% endblock %}

{% block content %}
<div class="container theme-showcase">
	<div class="jumbotron">
		<h1>Badge Tracker</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul>
				<li><a href="{{ url_for('users') }}">Users</a></li>
				<li><a href="{{ url_for('groups') }}">Groups</a></li>
				<li><a href="{{ url_for('youth') }}">Youth</a></li>
				<li><a href="{{ url_for('skills') }}">Skills</a></li>
				<li><a href="{{ url_for('skill_records') }}">Skill Records</a></li>
				<li><a href="{{ url_for('record_skill') }}">Record New Skills</a></li>
				<li><a href="{{ url_for('badges') }}">Badges</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
